Package: me.jkhsjdhjs.youtube-native-share
Name: YouTube Native Share
Version: 0.2.4
Architecture: iphoneos-arm
Description: Bypass YouTubes own share sheet and use the system activity view instead.
 Avoids requesting a source identifier (si) with your data and sharing it with other people.
Maintainer: jkhsjdhjs
Author: jkhsjdhjs
Homepage: https://github.com/jkhsjdhjs/youtube-native-share
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
